.c-txt__label {
	font-size: 14px;
	color: black;
	font-weight: 800;
	margin-left: 5%;
	width: 100%;
	line-height: 18px;
	padding: 5 0;
}

.c-txt__input {
	width: 90%;
	margin-left: 5%;
}

.u-mb-lg {
	margin-top: 5px;
	margin-bottom: 10px !important;
}

.c-txt__input {
	margin-top: 5px;
	padding-left: 5px !important;
	line-height: 28px;
	padding: 0px 5px 0px 5px;
	max-height: 28px;
}

.is-resizable {
	min-height: 120px;
	max-height: 200px;
	line-height: 18px;
	padding: 5px 5px 5px 5px;
}

#submit_change {
	margin-left: 31.48%;
	margin-top: 15px;
}

p {
	width: 90%;
	margin-left: 5%;
}

.centered {
	text-align: center;
	margin-top: 10px;
}

.centered-label {
	font-size: 16px;
	font-weight: 800px;
	color: black;
}
#ticket_change {
	margin-left: 27.69%;
	margin-top: 20px;
	margin-bottom: 15px;
}
