.submit-btn{
  display:inline-block;
  -webkit-transition:border-color .25s ease-in-out,box-shadow .1s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out;
  transition:border-color .25s ease-in-out,box-shadow .1s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out;
  border:1px solid #333;
  border-radius:4px;
  background-color:#fff;
  cursor:pointer;
  padding:0 2.25em;
  min-width:8.3334em;
  overflow:visible;
  vertical-align:middle;
  text-align:center;
  text-decoration:none;
  line-height:2.34;
  white-space:nowrap;
  color:#333;
  font-family:inherit;
  font-size:12px;
  font-weight:400;
  -webkit-font-smoothing:subpixel-antialiased;
  box-sizing:border-box;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
  -webkit-touch-callout:none;
}

.submit-btn::-moz-focus-inner{
  border:0;
  padding:0;
}

.submit-btn--pill{ border-radius:100px; }

.submit-btn--medium{
  padding:0 1.9286em;
  min-width:8.5715em;
  line-height:2.72;
  font-size:14px;
}

.submit-btn--large{
  padding:0 1.9286em;
  min-width:10.0001em;
  line-height:3.43;
  font-size:14px;
}

.submit-btn--full{
  width:100%;
  overflow:hidden;
  text-overflow:ellipsis;
}

.submit-btn.is-hovered,.submit-btn:hover{
  border-color:transparent;
  background-color:#555;
  text-decoration:none;
  color:#fff;
}

.submit-btn:focus{
  outline:none;
}

.submit-btn.is-focused{
  box-shadow:0 0 0 3px rgba(48,170,188,.4);
}

.submit-btn.is-active,.submit-btn:active{
  -webkit-transition:border-color .1s ease-in-out,background-color .1s ease-in-out,color .1s ease-in-out;
  transition:border-color .1s ease-in-out,background-color .1s ease-in-out,color .1s ease-in-out;
  border-color:transparent;
  background-color:#2a2b2b;
  text-decoration:none;
  color:#fff;
}

.submit-btn.is-focused.is-active,.submit-btn.is-focused:active,.submit-btn.is-hovered.is-active,.submit-btn.is-hovered:active,.submit-btn:hover.is-active,.submit-btn:hover:active,.l-btn-group>.submit-btn.is-focused.is-active,.l-btn-group>.submit-btn.is-focused:active,.l-btn-group>.submit-btn.is-hovered.is-active,.l-btn-group>.submit-btn.is-hovered:active,.l-btn-group>.submit-btn:hover.is-active,.l-btn-group>.submit-btn:hover:active{
  box-shadow:none;
}

.submit-btn.is-disabled.is-disabled,.submit-btn:disabled:disabled{
  border-color:transparent;
  box-shadow:none;
  background-color:#ddd;
  cursor:default;
  color:#fff;
}

.submit-btn--primary{
  border-color:transparent;
  background-color:#333;
  color:#fff;
}
