.c-txt__input{
  -webkit-transition:border-color .25s ease-in-out,box-shadow .1s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out;
  transition:border-color .25s ease-in-out,box-shadow .1s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out;
  outline:none;
  border:1px solid #ddd;
  border-radius:4px;
  background-color:#fff;
  padding:.71429em 1.42857em;
  width:100%;
  min-height:28px;
  box-sizing:border-box;
  vertical-align:middle;
  line-height:18px;
  color:#777;
  font-family:inherit;
  font-size:14px;
}

@media screen\0{
  .c-txt__input{ font-family:sans-serif; }
}

.c-txt__input::-webkit-input-placeholder{
  opacity:1;
  color:#ccc;
}

.c-txt__input::-moz-placeholder{
  opacity:1;
  color:#ccc;
}

.c-txt__input:-ms-input-placeholder{
  opacity:1;
  color:#ccc;
}

.c-txt__input::placeholder{
  opacity:1;
  color:#ccc;
}

.c-txt--inline{
  display:inline-block;
}

.c-txt--inline .c-txt__input{
  width:auto;
}

.c-txt__input--area{
  resize:none;
  overflow:auto;
  padding-top: 5px;
}

.c-txt__input--area.is-resizable{
  resize:vertical;
}

.c-txt.is-hovered>.c-txt__input,.c-txt>.c-txt__input:hover{
  border-color:#ddd;
}

.c-txt.is-focused>.c-txt__input,.c-txt>.c-txt__input:focus{
  border-color: #527000 !important;
  box-shadow:0 0 3px #78a300 !important;
}

.c-txt.is-disabled>.c-txt__input,.c-txt>.c-txt__input:disabled{
  border-color:transparent;
  background-color:#ddd;
  cursor:default;
  color:#777;
}

.c-txt.is-disabled>.c-txt__input::-webkit-input-placeholder,.c-txt>.c-txt__input:disabled::-webkit-input-placeholder{
  color:#fff;
}

.c-txt.is-disabled>.c-txt__input::-moz-placeholder,.c-txt>.c-txt__input:disabled::-moz-placeholder{
  color:#fff;
}

.c-txt.is-disabled>.c-txt__input:-ms-input-placeholder,.c-txt>.c-txt__input:disabled:-ms-input-placeholder{
  color:#fff;
}

.c-txt.is-disabled>.c-txt__input::placeholder,.c-txt>.c-txt__input:disabled::placeholder{
  color:#fff;
}

.c-txt--dark .c-txt__input{
  border-color:transparent;
  background-color:#04444d;
  color:hsla(0,0%,100%,.75);
}

.c-txt--dark .c-txt__input::-webkit-input-placeholder{
  color:#56777a;
}

.c-txt--dark .c-txt__input::-moz-placeholder{
  color:#56777a;
}

.c-txt--dark .c-txt__input:-ms-input-placeholder{
  color:#56777a;
}

.c-txt--dark .c-txt__input::placeholder{
  color:#56777a;
}

.c-txt--dark.c-txt.is-disabled>.c-txt__input,.c-txt--dark.c-txt>.c-txt__input:disabled{
  background-color:#819a9e;
  color:#03363d;
}

.c-txt--dark.c-txt.is-disabled>.c-txt__input::-webkit-input-placeholder,.c-txt--dark.c-txt>.c-txt__input:disabled::-webkit-input-placeholder{
  color:#56777a;
}

.c-txt--dark.c-txt.is-disabled>.c-txt__input::-moz-placeholder,.c-txt--dark.c-txt>.c-txt__input:disabled::-moz-placeholder{
  color:#56777a;
}

.c-txt--dark.c-txt.is-disabled>.c-txt__input:-ms-input-placeholder,.c-txt--dark.c-txt>.c-txt__input:disabled:-ms-input-placeholder{
  color:#56777a;
}

.c-txt--dark.c-txt.is-disabled>.c-txt__input::placeholder,.c-txt--dark.c-txt>.c-txt__input:disabled::placeholder{
  color:#56777a;
}
