.LRbd:hover {
	background-color: #dbebf2 !important;
}

.low-ticket-priority {
	background-color: #e0f8e0 !important;
}

.normal-ticket-priority {
	background-color: #ffffd1 !important;
}

.high-ticket-priority {
	background-color: #FCDBA9 !important;
}

.urgent-ticket-priority {
	background-color: #F5B5BA !important;
}
