       <ul class="app-list">
        {% for app in site.apps %}
        <li class="app-list-item">
          <a class="app-tile" title="{{ app.title }}" href="{{ app.permalink }}">
            <img class="app-tile-logo" alt="{{ app.title }}" src="{{ site.baseurl }}/{{ app.cdn }}/img/logo-promotion.png">
            <span class="text-content text-content-{{ app.background }}">
              <span>
                {% if app.logo contains 'chrome' %}
                <g-emoji>
                  <img align="absmiddle" class="emoji" src="{{ site.baseurl }}/CDN/Universal_App_Assets/img/emoji/chrome.png">
                </g-emoji>
                {% endif %}
                {% if app.logo contains 'zendesk' %}
                <g-emoji>
                  <img align="absmiddle" class="emoji" src="{{ site.baseurl }}/CDN/Universal_App_Assets/img/emoji/zendesk.png">
                </g-emoji>
                {% endif %}<br>{{ app.description }}
              </span>
            </span>
          </a>
        </li>
        {% endfor %}
      </ul>
