    <script src="/assets/js/svg4everybody-min.js"></script>
    <script src="/assets/js/typed-min.js"></script>
    {% if page.require contains 'contact' %}
        <script src="/assets/js/contact-min.js"></script>
    {% endif %}
    {% if page.require contains 'emoji' %}
        <script src="/assets/js/emojify-min.js"></script>
    {% endif %}
    {% if page.require contains 'language' %}
        <script src="/CDN/localeISO/localeISO-min.js"></script>
    {% endif %}
    {% if page.require contains 'menu' %}
        <script src="/assets/js/menu-min.js"></script>
    {% endif %}
    {% if page.require contains 'modal' %}
        <script src="/assets/js/modal-min.js"></script>
    {% endif %}
    {% if page.require contains 'nav-bar' %}
        <script src="/assets/js/nav-bar-min.js"></script>
    {% endif %}
    {% if page.title == 'Secret Service' %}
        <script src="/assets/js/trigger-image-min.js"></script>
    {% endif %}
    {% if site.ga %}
        <script src="/assets/js/ga-min.js"></script>
        <script src='/CDN/Universal_App_Assets/Google_Analytics_Error.js'></script>
    {% endif %}
