       <ul class="work-list">
        {% for work-tile in site.works %}
        <li class="work-list-item">
          <a class="work-tile-tile" title="{{ work-tile.title }}" href="{{ work-tile.permalink }}">
            <img class="work-tile-tile-logo" alt="{{ work-tile.title }}" src="{{ site.baseurl }}/{{ work-tile.cdn }}/img/logo-promotion.png">
            <span class="text-content text-content-{{ work-tile.background }}">
              <span>
                {% if work-tile.logo contains 'chrome' %}
                <g-emoji>
                  <img align="absmiddle" class="emoji" src="{{ site.baseurl }}/CDN/Universal_App_Assets/img/emoji/chrome.png">
                </g-emoji>
                {% endif %}
                {% if work-tile.logo contains 'zendesk' %}
                <g-emoji>
                  <img align="absmiddle" class="emoji" src="{{ site.baseurl }}/CDN/Universal_App_Assets/img/emoji/zendesk.png">
                </g-emoji>
                {% endif %}<br>{{ work-tile.description }}
              </span>
            </span>
          </a>
        </li>
        {% endfor %}
      </ul>
