/*** Font ***/
$font-stack: 'Anonymous Pro', monospace;

/*** Color ***/
$black: #333333;
$blue: #6495ba;
$gray: #999999;
$gray-dark: #808184;
$gray-light: #dddddd;
$gray-low: #bbbbbb;
$green: #5aaba7;
$green-lime: #06e908;
$orange: #fca169;
$purple: #9572af;
$purple-light: #9572c8;
$red: #ed5f68;
$white: #f8f8f8;
