@import '../CDN/Universal_App_Assets/palette.scss';

fieldset {
  border: 0;
  // display: none;
  margin: 20px 0 0 0;
  padding: 0;
  text-align: center;
}

.first-fieldset {
  display: block;
}

.contact-field {
  background-color: $white-smoke;
  border: 1px solid $aluminum;
  border-radius: 3px;
  color: $burnt-sienna;
  font-family: $anonymous-pro;
  font-size: 16px;
  line-height: 18px;
  margin: 10px auto 0 auto;
  min-height: 15px;
  padding: 4px 10px;
  text-align: left;
  text-indent: 5px;
  width: 90%;
}

.contact-field:focus,
.open-menu-btn {
  background-color: $white-smoke;
  border-color: $burnt-sienna;
  outline: 0;
}

.contact-text {
  min-height: 100px;
  padding: 5px 10px;
  resize: vertical;
}

.alert-note {
  height: 80px;
  margin: 20px 0 0 0;
  text-align: center;
}

.alert-text {
  display: none;
}

.submit-div {
  display: none;
  height: 55px;
  margin: 0;
  text-align: center;
}

.contact-submit {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-touch-callout: none;
  -webkit-transition: border-color .25s ease-in-out,box-shadow .1s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out;
  -webkit-user-select: none;
  background-color: $burnt-sienna;
  border: 1px solid $burnt-sienna;
  border-radius: 4px;
  color: $white-smoke;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 3.43;
  margin: 0;
  padding: 0 1.9286em;
  transition: border-color .25s ease-in-out,box-shadow .1s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out;
  user-select: none;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  &:active,
  &:hover {
    background-color: $white-smoke;
    border-color: $burnt-sienna;
    color: $burnt-sienna;
  }
  &:disabled {
    background-color: $aluminum;
    border-color: transparent;
    color: $white-smoke;
    cursor: default;
  }
}

.contact-submit-disabled {
  background-color: $aluminum;
  border-color: transparent;
  color: $white-smoke;
  cursor: default;
}

.contact-submit:focus {
  box-shadow: 0 0 3px 0 $white-smoke inset, 0 0 2px 2px $burnt-sienna;
  outline: none;
}

.right-div {
  padding: 3vh 5vw;
}
