---
layout: tips
permalink: /tips/moderatorcontrols
title: Community Moderator Controls
description: Add controls to Zendesk Community comments for Moderators
published-url: https://github.com/aculligan/Zendesk_Help_Center_Community_Moderator_Controls/blob/master/script.js
cdn: Zendesk_Help_Center_Community_Moderator_Controls
tags: ['tip']
require: ['emoji', 'modal', 'menu', 'nav-bar', 'arrow-up', 'arrow-up']
---

{% include work-head.html %}
      {% include work-about.html %}
      {% include tips-type.html %}
      <p class="p-justify text-indent">Someone asked if it was possible to add checkboxes at the bottom of Zendesk Help Center Community comment editor so moderators could mark a Community Post as "Answered" or "Closed for comments" at the same time they posted a reply.</p>
      <p class="p-justify text-indent">This can be done by using JavaScript to add the chekboxes and make API calls to update the post.</p>
      <p class="p-justify text-indent">Quick note before starting: This is customization that is not supported by Zendesk, and you might need a web developer to help you if you have issues.</p>
      <p class="p-justify text-indent">Go to your Zendesk Help Center's Edit Theme page and add <a href="https://github.com/aculligan/Zendesk_Help_Center_Community_Moderator_Controls/blob/master/script.js" target="_blank">this</a> code at the top of the JS page.</p>
      <p class="p-justify text-indent">Save and publish the changes, and that's it.</p>
      {% include work-screencaps.html %}
      <p class="p-center p-screenshots">
        <img class="img-screenshot" alt="Alexander Culligan" title="Alexander Culligan" src="/CDN/Tips/{{ page.cdn }}/screenshot-1.png"/>
        <img class="img-screenshot" alt="Alexander Culligan" title="Alexander Culligan"src="/CDN/Tips/{{ page.cdn }}/screenshot-2.gif"/>
      </p>
{% include work-modal.html %}
{% include work-code.html %}
      {% include work-code-zendesk.html %}
      {% include work-bugs.html %}
      <ul class="ul-features">
        <li>No known issues at this time.</li>
      </ul>
{% include work-found-bug.html %}
{% include work-license.html %}
{% include work-more.html %}
      {% include copyright.html %}
