/*** Typography ***/
$anonymous-pro: 'Anonymous Pro', monospace;
$gotham-rounded: 'Gotham Rounded A', 'Gotham Rounded B', 'Gotham Rounded', Helvetica, Arial, sans-serif;
$gotham: Gotham, gotham, Verdana, sans-serif;
$proxima-nova: 'Proxima Nova', sans-serif;

/*** Colors ***/
$affair: #734988; /* rgb(115,73,136) */
$algae: #03363d; /* rgb(3,54,61) */
$aluminum: #999999; /* rgb(153,153,153) */
$amethyst: #9572c8; /* rgb(149,114,200) */
$anti-flash-white: #f3f3f3; /* rgb(243,243,243) */
$apple-green: #78a300; /* rgb(120,163,0) */
$apricot: #ffcab3; /* rgb(255,202,179) */
$atomic-tangerine: #fca169; /* rgb(252,161,105) */
$black: #000000; /* rgb(0,0,0) */
$blue-chalk: #e5d6ed; /* rgb(229,214,237) */
$breaker-bay: #56777a; /* rgb(86,119,122) */
$buff: #f6de86; /* rgb(246,222,134) */
$burnt-sienna: #ed5f68; /* rgb(237,95,104) */
$buttermilk: #ffefb3; /* rgb(255, 239, 179) */
$ce-soir: #9677a6; /* rgb(150, 119, 166) */
$cg-red: #e03b30; /* rgb(224, 59, 48) */
$chateau-green: #16ba52; /* rgb(22, 186, 82) */
$columbia-blue: #a8d8ff; /* rgb(168, 216, 255) */
$cool-blue: #0a91ff; /* rgb(10, 145, 255) */
$coral-candy: #efcbc9; /* rgb(239, 203, 201) */
$creme-brulee: #ffdc99; /* rgb(255, 220, 153) */
$cupid: #fab4c9; /* rgb(250, 180, 201) */
$curious-blue: #358fb2; /* rgb(53, 143, 178) */
$daintree: #012b30; /* rgb(1, 43, 48) */
$dandelion: #ffde66; /* rgb(255, 222, 102) */
$dark-gray: #555555; /* rgb(85, 85, 85) */
$dark-pastel-red: #bf3026; /*  */
$deep-lilac: #965ab6; /* rgb(191, 48, 38) */
$denim: #146eaa; /* rgb(20, 110, 170) */
$east-side: #b083c8; /* rgb(176, 131, 200) */
$energy-yellow: #f7da4d; /* rgb(247, 218, 77) */
$festival: #f2ce4a; /* rgb(242, 206, 74) */
$flamingo: #eb6651; /* rgb(235, 102, 81) */
$gainsboro: #dddddd; /* rgb(221, 221, 221) */
$golden-dream: #efc93d; /* rgb(239, 201, 61) */
$green: #06e908; /* rgb(6, 233, 8) */
$hippie-blue: #6495ba; /* rgb(100, 149, 186) */
$indian-red: #cf645c; /* rgb(207, 100, 92) */
$iron: #cccccc; /* rgb(204, 204, 204) */
$jonquil: #ffdd5f; /* rgb(255, 221, 95) */
$jumbo: #808184; /* rgb(128, 129, 132) */
$karl: #f3f0ee; /* rgb(243, 240, 238) */
$lemon-chiffon: #fff3ca; /* rgb(255, 243, 202) */
$light-crimson: #f3749a; /* rgb(243, 116, 154) */
$lily-white: #ebebeb; /* rgb(235, 235, 235) */
$lola: #b9a4c3; /* rgb(185, 164, 195) */
$mabel: #cce3ec; /* rgb(204, 227, 236) */
$magic-mint: #aaf3c4; /* rgb(170, 243, 196) */
$malibu: #5ebbde; /* rgb(94, 187, 222) */
$mandy: #eb4962; /* rgb(235, 73, 98) */
$marigold: #ffc800; /* rgb(255, 200, 0) */
$maya-blue: #61b8ff; /* rgb(97, 184, 255) */
$monsoon: #777777; /* rgb(119, 119, 119) */
$moon-yellow: #edbe0e; /* rgb(237, 190, 14) */
$moonstone-blue: #6aabc4; /* rgb(106, 171, 196) */
$nero: #1a1a1a; /* rgb(26, 26, 26) */
$non-photo-blue: #a5dcf2; /* rgb(165, 220, 242) */
$oasis: #faefc3; /* rgb(250, 239, 195) */
$oil: #333333; /* rgb(51, 51, 51) */
$orange-peel: #faa300; /* rgb(250, 163, 0) */
$palatinate-blue: #1438f7; /* rgb(20, 56, 247) */
$pale-turquoise: #aff3ee; /* rgb(175, 243, 238) */
$patterns-blue: #d2eef9; /* rgb(210, 238, 249) */
$pelorous: #30aabc; /* rgb(48, 170, 188) */
$perano: #a6b3ff; /* rgb(166, 179, 255) */
$perfume: #caacda; /* rgb(202, 172, 218) */
$persian-green: #03b3a7; /* rgb(3, 179, 167) */
$persimmon: #ff6d5a; /* rgb(255, 109, 90) */
$petite-orchid: #df9792; /* rgb(223, 151, 146) */
$picasso: #ffe894; /* rgb(255, 232, 148) */
$pink-orange: #ff9466; /* rgb(255, 148, 102) */
$platinum: #eeeeee; /* rgb(238, 238, 238) */
$portland-orange: #ff542e; /* rgb(255, 84, 46) */
$razzmatazz: #f2316b; /* rgb(242, 49, 107) */
$regent-st-blue: #9ac7d8; /* rgb(154, 199, 216) */
$remy: #f7cecb; /* rgb(247, 206, 203) */
$saffron-mango: #fac157; /* rgb(250, 193, 87) */
$sea-buckthorn: #f79a3e; /* rgb(247, 154, 62) */
$shamrock: #45d97b; /* rgb(69, 217, 123) */
$sherpa-blue: #04444d; /* rgb(4, 68, 77) */
$silver-sand: #bbbbbb; /* rgb(187, 187, 187) */
$sky-blue: #78cdec; /* rgb(120, 205, 236) */
$snow: #fbfbfb; /* rgb(251, 251, 251) */
$steel: #666666; /* rgb(102, 102, 102) */
$submarine: #819a9e; /* rgb(129, 154, 158) */
$sunglow: #ffd12a; /* rgb(255, 209, 42) */
$terra-cotta: #e86c64; /* rgb(232, 108, 100) */
$titan-white: #dcd1e1; /* rgb(220, 209, 225) */
$tradewind: #5aaba7; /* rgb(90, 171, 167) */
$tundora: #444444; /* rgb(68, 68, 68) */
$ultramarine-blue: #5e76ff; /* rgb(94, 118, 255) */
$valencia: #d6422b; /* rgb(214, 66, 43) */
$verdigris: #37b8af; /* rgb(55, 184, 175) */
$verdun-green: #527000; /* rgb(82, 112, 0) */
$viking: #5fd4cc; /* rgb(95, 212, 204) */
$wewak: #ef9d97; /* rgb(239, 157, 151) */
$white-smoke: #f8f8f8; /* rgb(248, 248, 248) */
$white: #ffffff; /* rgb(255, 255, 255) */
$wisteria: #9572af; /* rgb(149, 114, 175) */
