/*** Typography ***/
$anonymous-pro: 'Anonymous Pro', monospace;
$gotham-rounded: 'Gotham Rounded A', 'Gotham Rounded B', 'Gotham Rounded', Helvetica, Arial, sans-serif;
$gotham: Gotham, gotham, Verdana, sans-serif;
$proxima-nova: 'Proxima Nova', sans-serif;
$roboto: 'Roboto', sans-serif;

/*** Colors ***/
$abbey: #57595d;
$affair: #734988;
$algae: #03363d;
$aluminum: #999999;
$amethyst: #9572c8;
$anti-flash-white: #f3f3f3;
$apple-green: #78a300;
$apricot: #ffcab3;
$atomic-tangerine: #fca169;
$black: #000000;
$blue-chalk: #e5d6ed;
$breaker-bay: #56777a;
$buff: #f6de86;
$burnt-sienna: #ed5f68;
$buttermilk: #ffefb3;
$ce-soir: #9677a6;
$cg-red: #e03b30;
$chateau-green: #16ba52;
$columbia-blue: #a8d8ff;
$cool-blue: #0a91ff;
$coral-candy: #efcbc9;
$cream: #ffffd1;
$creme-brulee: #ffdc99;
$cupid: #fab4c9;
$curious-blue: #358fb2;
$daintree: #012b30;
$dandelion: #ffde66;
$dark-gray: #555555;
$dark-pastel-red: #bf3026;
$deep-lilac: #965ab6;
$denim: #146eaa;
$east-side: #b083c8;
$energy-yellow: #f7da4d;
$festival: #f2ce4a;
$flamingo: #eb6651;
$flush-mahogany: #cc3340;
$gainsboro: #dddddd;
$golden-dream: #efc93d;
$gray-chateau: #9aa0a6;
$green-romance: #e0f8e0;
$green: #06e908;
$hippie-blue: #6495ba;
$indian-red: #cf645c;
$iron: #cccccc;
$jonquil: #ffdd5f;
$jumbo: #808184;
$karl: #e8eaed;
$lemon-chiffon: #fff3ca;
$light-apricot: #fcdba9;
$light-crimson: #f3749a;
$light-iron: #dddedf;
$lily-white: #ebebeb;
$lola: #b9a4c3;
$mabel: #cce3ec;
$magic-mint: #aaf3c4;
$malibu: #5ebbde;
$mandy: #eb4962;
$mandys-pink: #f5b5ba;
$marigold: #ffc800;
$maya-blue: #61b8ff;
$monsoon: #777777;
$moon-yellow: #edbe0e;
$moonstone-blue: #6aabc4;
$nero: #1a1a1a;
$non-photo-blue: #a5dcf2;
$oasis: #faefc3;
$oil: #333333;
$orange-peel: #faa300;
$palatinate-blue: #1438f7;
$pale-turquoise: #aff3ee;
$patterns-blue: #d2eef9;
$pelorous: #30aabc;
$perano: #a6b3ff;
$perfume: #caacda;
$persian-green: #03b3a7;
$persimmon: #ff6d5a;
$petite-orchid: #df9792;
$picasso: #ffe894;
$pink-orange: #ff9466;
$platinum: #eeeeee;
$portland-orange: #ff542e;
$razzmatazz: #f2316b;
$regent-st-blue: #9ac7d8;
$remy: #f7cecb;
$saffron-mango: #fac157;
$sea-buckthorn: #f79a3e;
$shamrock: #45d97b;
$shark: #292a2d;
$sherpa-blue: #04444d;
$shuttle-gray: #5f6368;
$silver-sand: #bbbbbb;
$sky-blue: #78cdec;
$snow: #fbfbfb;
$steel: #666666;
$submarine: #819a9e;
$sunglow: #ffd12a;
$terra-cotta: #e86c64;
$titan-white: #dcd1e1;
$tradewind: #5aaba7;
$tundora: #444444;
$ultramarine-blue: #5e76ff;
$valencia: #d6422b;
$verdigris: #37b8af;
$verdun-green: #527000;
$viking: #5fd4cc;
$wewak: #ef9d97;
$white-smoke: #f8f8f8;
$white: #ffffff;
$wisteria: #9572af;
$zd-color-black: #000;
$zd-color-blue-100: #edf7ff;
$zd-color-blue-200: #cee2f2;
$zd-color-blue-300: #adcce4;
$zd-color-blue-400: #5293c7;
$zd-color-blue-500: #337fbd;
$zd-color-blue-600: #1f73b7;
$zd-color-blue-700: #144a75;
$zd-color-blue-800: #0f3554;
$zd-color-chat-orange: #f79a3e;
$zd-color-connect-red: #eb6651;
$zd-color-explore-blue: #30aabc;
$zd-color-green-100: #edf8f4;
$zd-color-green-200: #d1e8df;
$zd-color-green-300: #aecfc2;
$zd-color-green-400: #5eae91;
$zd-color-green-500: #228f67;
$zd-color-green-600: #038153;
$zd-color-green-700: #186146;
$zd-color-green-800: #0b3b29;
$zd-color-grey-100: #f8f9f9;
$zd-color-grey-200: #e9ebed;
$zd-color-grey-300: #d8dcde;
$zd-color-grey-400: #c2c8cc;
$zd-color-grey-500: #87929d;
$zd-color-grey-600: #68737d;
$zd-color-grey-700: #49545c;
$zd-color-grey-800: #2f3941;
$zd-color-guide-pink: #eb4962;
$zd-color-kale-100: #f5fbfc;
$zd-color-kale-200: #c1d6d9;
$zd-color-kale-300: #819a9e;
$zd-color-kale-400: #56777a;
$zd-color-kale-500: #335d63;
$zd-color-kale-600: #04444d;
$zd-color-kale-700: #03363d;
$zd-color-kale-800: #012b30;
$zd-color-message-green: #37b8af;
$zd-color-red-100: #fff0f1;
$zd-color-red-200: #f5d5d8;
$zd-color-red-300: #f5b5ba;
$zd-color-red-400: #e35b66;
$zd-color-red-500: #d93f4c;
$zd-color-red-600: #cc3340;
$zd-color-red-700: #8c232c;
$zd-color-red-800: #681219;
$zd-color-secondary-azure-400: #3091ec;
$zd-color-secondary-azure-600: #1371d6;
$zd-color-secondary-azure-M400: #5f8dcf;
$zd-color-secondary-azure-M600: #3a70b2;
$zd-color-secondary-crimson-400: #e34f32;
$zd-color-secondary-crimson-600: #c72a1c;
$zd-color-secondary-crimson-M400: #cc6c5b;
$zd-color-secondary-crimson-M600: #b24a3c;
$zd-color-secondary-fuschia-400: #d653c2;
$zd-color-secondary-fuschia-600: #a81897;
$zd-color-secondary-fuschia-M400: #cf62a8;
$zd-color-secondary-fuschia-M600: #a8458c;
$zd-color-secondary-lemon-400: #ffd424;
$zd-color-secondary-lemon-600: #ffbb10;
$zd-color-secondary-lemon-M400: #e7a500;
$zd-color-secondary-lemon-M600: #c38f00;
$zd-color-secondary-lime-400: #43b324;
$zd-color-secondary-lime-600: #2e8200;
$zd-color-secondary-lime-M400: #519e2d;
$zd-color-secondary-lime-M600: #47782c;
$zd-color-secondary-mint-400: #00a656;
$zd-color-secondary-mint-600: #058541;
$zd-color-secondary-mint-M400: #299c66;
$zd-color-secondary-mint-M600: #2e8057;
$zd-color-secondary-orange-400: #de701d;
$zd-color-secondary-orange-600: #bf5000;
$zd-color-secondary-orange-M400: #d4772c;
$zd-color-secondary-orange-M600: #b35827;
$zd-color-secondary-pink-400: #ec4d63;
$zd-color-secondary-pink-600: #d42054;
$zd-color-secondary-pink-M400: #d57287;
$zd-color-secondary-pink-M600: #b23a5d;
$zd-color-secondary-purple-400: #b552e2;
$zd-color-secondary-purple-600: #6a27b8;
$zd-color-secondary-purple-M400: #b072cc;
$zd-color-secondary-purple-M600: #9358b0;
$zd-color-secondary-royal-400: #5d7df5;
$zd-color-secondary-royal-600: #3353e2;
$zd-color-secondary-royal-M400: #7986d8;
$zd-color-secondary-royal-M600: #4b61c3;
$zd-color-secondary-teal-400: #02a191;
$zd-color-secondary-teal-600: #028079;
$zd-color-secondary-teal-M400: #2d9e8f;
$zd-color-secondary-teal-M600: #3c7873;
$zd-color-sell-gold: #d4ae5e;
$zd-color-support-green: #78a300;
$zd-color-talk-yellow: #efc93d;
$zd-color-white: #fff;
$zd-color-yellow-100: #fff8ed;
$zd-color-yellow-200: #fff0db;
$zd-color-yellow-300: #fcdba9;
$zd-color-yellow-400: #ffb648;
$zd-color-yellow-500: #f5a133;
$zd-color-yellow-600: #ed961c;
$zd-color-yellow-700: #ad5e18;
$zd-color-yellow-800: #703b15;
$zumthor: #edf7ff;
