/*** Font ***/
$font-stack: 'Anonymous Pro', monospace;

/*** Color ***/
$affair: #734988;
$algae: #03363d;
$aluminum: #999999;
$amethyst: #9572c8;
$anti-flash-white: #f3f3f3;
$apple-green: #78a300;
$atomic-tangerine: #fca169;
$black: #000000;
$blue-chalk: #e5d6ed;
$breaker-bay: #56777a;
$buff: #f6de86;
$burnt-sienna: #ed5f68;
$ce-soir: #9677a6;
$cg-red: #e03b30;
$chateau-green: #16ba52;
$coral-candy: #efcbc9;
$curious-blue: #358fb2;
$daintree: #012b30;
$dark-gray: #555555;
$dark-pastel-red: #bf3026;
$deep-lilac: #965ab6;
$denim: #146eaa;
$east-side: #b083c8;
$festival: #f2ce4a;
$flamingo: #eb6651;
$gainsboro: #dddddd;
$golden-dream: #efc93d;
$green: #06e908;
$hippie-blue: #6495ba;
$indian-red: #cf645c;
$iron: #cccccc;
$jonquil: #ffdd5f;
$jumbo: #808184;
$karl: #f3f0ee;
$lemon-chiffon: #fff3ca;
$lily-white: #ebebeb;
$lola: #b9a4c3;
$mabel: #cce3ec;
$malibu: #5ebbde;
$mandy: #eb4962;
$marigold: #ffc800;
$monsoon: #777777;
$moon-yellow: #edbe0e;
$moonstone-blue: #6aabc4;
$nero: #1a1a1a;
$non-photo-blue: #a5dcf2;
$oasis: #faefc3;
$oil: #333333;
$orange-peel: #ffa100;
$patterns-blue: #d2eef9;
$pelorous: #30aabc;
$perfume: #caacda;
$petite-orchid: #df9792;
$picasso: #ffe894;
$platinum: #eeeeee;
$regent-st-blue: #9ac7d8;
$remy: #f7cecb;
$sea-buckthorn: #f79a3e;
$sherpa-blue: #04444d;
$silver-sand: #bbbbbb;
$sky-blue: #78cdec;
$snow: #fbfbfb;
$steel: #666666;
$submarine: #819a9e;
$sunglow: #ffd12a;
$terra-cotta: #e86c64;
$titan-white: #dcd1e1;
$tradewind: #5aaba7;
$valencia: #d6422b;
$verdigris: #37b8af;
$wewak: #ef9d97;
$white-smoke: #f8f8f8;
$white: #ffffff;
$wisteria: #9572af;
