---
layout: work
permalink: /work/ccquest
title: CC Quest
description: Make CCs the Requesters of Zendesk tickets
published-url: https://www.zendesk.com/apps/cc-quest/
cdn: CC_Quest
tags: ['app', 'zendesk']
require: ['emoji', 'language', 'modal', 'menu', 'nav-bar', 'arrow-up']
---

{% include work-head.html %}
      {% include work-about.html %}
      <ul class="ul-features">
        {% include work-type.html %}
        <li>Retrieves ticket information.</li>
        <li>Displays the current Ticket Requester.</li>
        <li>Creates an alphabetical list of all the CCs in the ticket.</li>
        <li>Let's you choose one CC to make the new Ticket Requester.</li>
        <li>Gives you the option of adding the old Ticket Requester to the list of CCs.</li>
        <li>Available in <langISO>en</langISO> and <langISO>es</langISO>.</li>
      </ul>
      {% include work-screencaps.html %}
      <p class="p-center p-screenshots">
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-1.png"/>
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-2.png"/>
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-3.png"/>
        <img class="img-screenshot img-screenshot-gif" src="{{ site.url }}/CDN/{{ page.cdn }}/img/working.gif"/>
      </p>
{% include work-modal.html %}
      {% include work-version.html %}
      <h4>Version 1.1.1 - Published <a href="{{ page.published-url }}" target='_blank'>here</a>.</h4>
      <ul class="ul-features ul-version">
        <li>Translation for <langISO>es</langISO>.</li>
      </ul>
      <h4>Version 1.1</h4>
      <ul class="ul-features ul-version">
        <li>New user interface.</li>
      </ul>
      <h4>Version 1.0</h4>
      <ul class="ul-features ul-version">
        <li>Initial publication.</li>
      </ul>
      {% include work-bugs.html %}
      <ul class="ul-features">
        <li>No known issues at this time.</li>
        <li>Translation needed for: <langISO>ru</langISO>, <langISO>de</langISO>, <langISO>pt</langISO>, <langISO>zh</langISO>, <langISO>fi</langISO>, <langISO>bg</langISO>, <langISO>fr</langISO>, <langISO>uk</langISO>, <langISO>da</langISO>, <langISO>ja</langISO>, <langISO>nb</langISO>, and <langISO>nl<langISO>.</li>
      </ul>
{% include work-found-bug.html %}
{% include work-license.html %}
{% include work-more.html %}
      {% include copyright.html %}
