---
layout: work
permalink: /work/ccquest
title: CC Quest
description: Make CCs the Requesters of Zendesk tickets
published-url: https://www.zendesk.com/apps/cc-quest/
cdn: CC_Quest
tags: ['app', 'zendesk']
require: ['emoji', 'language', 'modal', 'menu', 'nav-bar', 'arrow-up']
---

{% include work-head.html %}
      {% include work-about.html %}
      <ul class="ul-features">
        {% include work-type.html %}
        <li>Retrieves ticket information.</li>
        <li>Displays the current Ticket Requester.</li>
        <li>Creates an alphabetical list of all the CCs in the ticket.</li>
        <li>Let's you choose one CC to make the new Ticket Requester.</li>
        <li>Gives you the option of adding the old Ticket Requester to the list of CCs.</li>
        <li>Available in <lng>en</lng> and <lng>es</lng> (<lng-ntv>es</lng-ntv>).</li>
      </ul>
      {% include work-screencaps.html %}
      <p class="p-center p-screenshots">
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-1.png"/>
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-2.png"/>
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-3.png"/>
        <img class="img-screenshot img-screenshot-gif" src="{{ site.url }}/CDN/{{ page.cdn }}/img/working.gif"/>
      </p>
{% include work-modal.html %}
      {% include work-version.html %}
      <h4>Version 1.1.1 - Published <a href="{{ page.published-url }}" target='_blank'>here</a>.</h4>
      <ul class="ul-features ul-version">
        <li>Translation for <lng>es</lng> (<lng-ntv>es</lng-ntv>).</li>
      </ul>
      <h4>Version 1.1</h4>
      <ul class="ul-features ul-version">
        <li>New user interface.</li>
      </ul>
      <h4>Version 1.0</h4>
      <ul class="ul-features ul-version">
        <li>Initial publication.</li>
      </ul>
      {% include work-bugs.html %}
      <ul class="ul-features">
        <li>No known issues at this time.</li>
        <li>Translation needed for: <lng>ru</lng>, <lng>de</lng>, <lng>pt</lng>, <lng>zh</lng>, <lng>fi</lng>, <lng>bg</lng>, <lng>fr</lng>, <lng>uk</lng>, <lng>da</lng>, <lng>ja</lng>, <lng>nb</lng>, and <lng>nl</lng>.</li>
      </ul>
{% include work-found-bug.html %}
{% include work-license.html %}
{% include work-more.html %}
      {% include copyright.html %}
