---
layout: work
permalink: /work/chatbubbles
title: Chat Ticket Bubbles
description: Add conversation bubbles to Zendesk Chat tickets
published-url: https://chrome.google.com/webstore/detail/zendesk-chat-ticket-bubbl/adlagjillplchmcfiipkmbnjccfkmlci
cdn: Zendesk_Chat_Ticket_Bubbles
tags: ['extension', 'zendesk', 'chrome']
require: ['emoji', 'language', 'modal', 'menu', 'nav-bar', 'arrow-up']
---

{% include work-head.html %}
      {% include work-about.html %}
      <ul class="ul-features">
        {% include work-type.html %}
        <li>Works inside Tickets created from Chat.</li>
        <li>Takes the plain text from a Chat transcript and adds bubbles based on sender.</li>
        <li>Messages from Agent are highlighted the same color as the Navigation Bar.</li>
        <li>Messages from Visitor are highlighted gray.</li>
        <li>Available in <lng>en</lng>.</li>
      </ul>
      {% include work-screencaps.html %}
      <p class="p-center p-screenshots">
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-1.png"/>
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-2.png"/>
      </p>
{% include work-modal.html %}
      {% include work-version.html %}
      <h4>Version 0.2 - Published <a href="{{ page.published-url }}" target='_blank'>here</a>.</h4>
      <ul class="ul-features ul-version">
        <li>Colors added.</li>
      </ul>
      <h4>Version 0.1</h4>
      <ul class="ul-features ul-version">
        <li>Initial publication.</li>
      </ul>
      {% include work-bugs.html %}
      <ul class="ul-features">
        <li>No known issues at this time.</li>
        <li>Translation needed for: <lng>fr</lng>, <lng>pt</lng>, <lng>uk</lng>, <lng>da</lng>, <lng>es</lng>, <lng>id</lng>, <lng>ja</lng>, <lng>nl</lng>, and <lng>ro</lng>.</li>
      </ul>
{% include work-found-bug.html %}
{% include work-license.html %}
{% include work-more.html %}
      {% include copyright.html %}
