---
layout: work
permalink: /work/holidate
title: Holidate
description: Import national holidays into Zendesk schedules
published-url: https://www.zendesk.com/apps/holidate/
cdn: Holidate
tags: ['app', 'zendesk']
require: ['emoji', 'language', 'modal', 'menu', 'nav-bar', 'arrow-up']
---

{% include work-head.html %}
      {% include work-about.html %}
      <ul class="ul-features">
        {% include work-type.html %}
        <li>Import holidays into an existing schedule.</li>
        <li>Create new schedules from within app.</li>
        <li>Import all or some of the listed holidays.</li>
        <li>Available for Canada, Denmark, France, Mexico, Peru, the United Kingdom, and the United States.</li>
        <li>Available in <langISO>en</langISO> and <langISO>es</langISO>.</li>
      </ul>
      {% include work-screencaps.html %}
      <p class="p-center p-screenshots">
        <img class="img-screenshot" alt="Alexander Culligan" title="Alexander Culligan" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-1.png"/>
        <img class="img-screenshot" alt="Alexander Culligan" title="Alexander Culligan" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-2.png"/>
        <img class="img-screenshot" alt="Alexander Culligan" title="Alexander Culligan" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-3.png"/>
      </p>
{% include work-modal.html %}
      {% include work-version.html %}
      <h4>Version 1.0 - Published <a href="{{ page.published-url }}" target='_blank'>here</a>.</h4>
      <ul class="ul-features ul-version">
        <li>Initial publication.</li>
      </ul>
      {% include work-bugs.html %}
      <ul class="ul-features">
        <li>No known issues at this time.</li>
      </ul>
{% include work-found-bug.html %}
{% include work-license.html %}
{% include work-more.html %}
      {% include copyright.html %}
