---
layout: work
permalink: /work/localeISO
title: localeISO.js
description: Convert Country and Language ISO codes to full text
published-url: https://github.com/aculligan/localeISO.js
cdn: localeISO
version: 0.1.0
tags: ['javascript']
require: ['emoji', 'menu', 'nav-bar', 'arrow-up']
---

{% include work-head.html %}
      {% include work-about.html %}
      <ul class="ul-features">
        {% include work-type.html %}
        <li>Convert Country (ISO 3166-2) and Language (ISO 639-1) codes to full text.</li>
      </ul>
      <p class="p-title">Installation:</p>
      <ul class="ul-features">
        <li>Add this line at the end of the <code>&#60;<span class="red">body</span>&#62;</code> tag in your <code>.html</code> file:<br><code class="code-block">&#60;<span class="red">script </span><span class="green">src</span>&#61;<span class="orange">"https://aculligan.github.io/CDN/localeISO/localeISO-min.js"</span>&#60;&#47;<span class="red">script</span>&#62;</code></li>
        <li>Use <code>&#60;<span class="red">langISO</span>&#62;</code>, <code>&#60;<span class="red">langISOL</span>&#62;</code>, <code>&#60;<span class="red">cntryISO</span>&#62;</code>, <code>&#60;<span class="red">cntryISOL</span>&#62;</code> tags  with the ISO code:<br><code class="code-block">&#60;<span class="red">cntryISO</span>&#62;es&#60;&#47;<span class="red">cntryISO</span>&#62; &#61;&#62; Spain<br>&#60;<span class="red">cntryISOL</span>&#62;es&#60;&#47;<span class="red">cntryISOL</span>&#62; &#61;&#62; España<br>&#60;<span class="red">langISO</span>&#62;es&#60;&#47;<span class="red">langISO</span>&#62; &#61;&#62; Spanish<br>&#60;<span class="red">langISOL</span>&#62;es&#60;&#47;<span class="red">langISOL</span>&#62; &#61;&#62; Español</code></li>
      </ul>
      {% include work-version.html %}
      <h4>Version {{ page.version }} - Published <a href="{{ page.published-url }}" target='_blank'>here</a>.</h4>
      <ul class="ul-features ul-version">
        <li>Initial publication.</li>
      </ul>
      {% include work-bugs.html %}
      <ul class="ul-features">
        <li>No known issues at this time.</li>
      </ul>
{% include work-found-bug.html %}
{% include work-license.html %}
{% include work-more.html %}
      {% include copyright.html %}
