---
layout: work
permalink: /work/priorityhighlights
title: Priority Highlights
description: Highlight Zendesk tickets in Views based on priority
published-url: https://chrome.google.com/webstore/detail/zendesk-priority-highligh/kdnlbgealinpnebnoamnabcpjkifokpk
cdn: Zendesk_Priority_Highlights
tags: ['extension', 'zendesk', 'chrome']
require: ['emoji', 'language', 'modal', 'menu', 'nav-bar', 'arrow-up']
---

{% include work-head.html %}
      {% include work-about.html %}
      <ul class="ul-features">
        {% include work-type.html %}
        <li>Works in the Views pages.</li>
        <li>Identifies tickets that have a Priority.</li>
        <li>Highlights tickets with Urgent priority as red.</li>
        <li>Highlights tickets with High priority as yellow.</li>
        <li>Highlights tickets with Normal priority as green.</li>
        <li>Highlights tickets with Low priority as blue.</li>
        <li>User can choose what priorities to highlight in the options page.</li>
        <li>Available in <lng>en</lng>.</li>
      </ul>
      {% include work-screencaps.html %}
      <p class="p-center p-screenshots">
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-1.png"/>
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-2.png"/>
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-3.png"/>
      </p>
{% include work-modal.html %}
      {% include work-version.html %}
      <h4>Version  1.0.3 - Published <a href="{{ page.published-url }}" target='_blank'>here</a>.</h4>
      <ul class="ul-features ul-version">
        <li>Options page added.</li>
      </ul>
      <h4>Version 1.0.2</h4>
      <ul class="ul-features ul-version">
        <li>Colors for Normal and Low Priority added.</li>
      </ul>
      <h4>Version 1.0.1</h4>
      <ul class="ul-features ul-version">
        <li>Color for High Priority added.</li>
      </ul>
      <h4>Version 1</h4>
      <ul class="ul-features ul-version">
        <li>Initial publication.</li>
      </ul>
      {% include work-bugs.html %}
      <ul class="ul-features">
        <li>No known issues at this time.</li>
        <li>Translation needed for: <lng>nl</lng>, <lng>da</lng>, <lng>es</lng>, <lng>fr</lng>, <lng>de</lng>, <lng>he</lng>, <lng>ja</lng>, <lng>pl</lng>, <lng>pt</lng>, and <lng>zh</lng>.</li>
      </ul>
{% include work-found-bug.html %}
{% include work-license.html %}
{% include work-more.html %}
      {% include copyright.html %}
