---
layout: work
permalink: /work/secretservice
title: Secret Service
description: Create a Zendesk ticket with an Internal Note
published-url: https://www.zendesk.com/work/secret-service/
cdn: Secret_Service
tags: ['app', 'zendesk']
require: ['emoji', 'language', 'modal', 'menu', 'nav-bar', 'arrow-up']
---

{% include work-head.html %}
      {% include work-about.html %}
      <ul class="ul-features">
        {% include work-type.html %}
        <li>Quick way to create a new ticket with an Internal Note.</li>
        <li><a href="https://support.zendesk.com/hc/en-us/articles/203691016" target="_blank"> Markdown</a> is accepted in the Ticket Description.</li>
        <li>Available in <lng>en</lng>.</li>
      </ul>
      <p class="p-title">Requirements:</p>
      <ul class="ul-features">
        <li>To create a ticket, you will need:
          <ol>
            <li>Requester's email address.</li>
            <li>Ticket Subject.</li>
            <li>Ticket Description to submit as Internal Note.</li>
          </ol>
        </li>
        <li>Edit ALL Triggers in your account that send notifications when the ticket is created. Add the condition <code>Ticket: Comment is... | Public</code> (<a id="trigger-pic" href="https://aculligan.github.io/CDN/Secret_Service/img/screenshot-3.png" target="_blank">See image</a>).</li>
        <li>Make sure to edit the ticket after it has been created.</li>
      </ul>
      {% include work-screencaps.html %}
      <p class="p-center p-screenshots">
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/image1.png"/>
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-1.png"/>
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/image2.png"/>
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-2.png"/>
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-3.png"/>
      </p>
{% include work-modal.html %}
      {% include work-version.html %}
      <h4>Version 1.1 - Published <a href="{{ page.published-url }}" target='_blank'>here</a>.</h4>
      <ul class="ul-features ul-version">
        <li>Translation for <lng>es</lng> (<lng-ntv>es</lng-ntv>).</li>
        <li>Updated support contact info.</li>
      </ul>
      <h4>Version 1.0</h4>
      <ul class="ul-features ul-version">
        <li>Initial publication.</li>
      </ul>
      {% include work-bugs.html %}
      <ul class="ul-features">
        <li>No known issues at this time.</li>
        <li>Translation needed for: <lng>nl</lng> (<lng-ntv>nl</lng-ntv>), <lng>de</lng> (<lng-ntv>de</lng-ntv>), <lng>da</lng> (<lng-ntv>da</lng-ntv>), <lng>sv</lng> (<lng-ntv>sv</lng-ntv>), and <lng>fr</lng> (<lng-ntv>fr</lng-ntv>).</li>
      </ul>
{% include work-found-bug.html %}
{% include work-license.html %}
{% include work-more.html %}
      {% include copyright.html %}
