---
layout: apps
permalink: /apps/priorityhighlights
title: Priority Highlights
description: Highlight Zendesk tickets in Views based on priority
published-url: https://chrome.google.com/webstore/detail/zendesk-priority-highligh/kdnlbgealinpnebnoamnabcpjkifokpk
cdn: Zendesk_Priority_Highlights
tags: ['extension', 'zendesk', 'chrome']
require: ['emoji', 'language', 'modal', 'menu', 'nav-bar', 'arrow-up']
---

{% include apps-head.html %}
      {% include apps-about.html %}
      <ul class="ul-features">
        {% include apps-type.html %}
        <li>Works in the Views pages.</li>
        <li>Identifies tickets that have a Priority.</li>
        <li>Highlights tickets with Urgent priority as red.</li>
        <li>Highlights tickets with High priority as yellow.</li>
        <li>Highlights tickets with Normal priority as green.</li>
        <li>Highlights tickets with Low priority as blue.</li>
        <li>User can choose what priorities to highlight in the options page.</li>
        <li>Available in <lng>en</lng>.</li>
      </ul>
      {% include apps-screencaps.html %}
      <p class="p-center p-screenshots">
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-1.png"/>
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-2.png"/>
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-3.png"/>
      </p>
{% include apps-modal.html %}
      {% include apps-version.html %}
      <h4>Version  1.0.3 - Published <a href="{{ page.published-url }}" target='_blank'>here</a>.</h4>
      <ul class="ul-features ul-version">
        <li>Options page added.</li>
      </ul>
      <h4>Version 1.0.2</h4>
      <ul class="ul-features ul-version">
        <li>Colors for Normal and Low Priority added.</li>
      </ul>
      <h4>Version 1.0.1</h4>
      <ul class="ul-features ul-version">
        <li>Color for High Priority added.</li>
      </ul>
      <h4>Version 1</h4>
      <ul class="ul-features ul-version">
        <li>Initial publication.</li>
      </ul>
      {% include apps-bugs.html %}
      <ul class="ul-features">
        <li>No known issues at this time.</li>
        <li>Translation needed for: <lng>nl</lng> (<lng-ntv>nl</lng-ntv>), <lng>da</lng> (<lng-ntv>da</lng-ntv>), <lng>es</lng> (<lng-ntv>es</lng-ntv>), <lng>fr</lng> (<lng-ntv>fr</lng-ntv>), <lng>de</lng> (<lng-ntv>de</lng-ntv>), <lng>he</lng> (<lng-ntv>he</lng-ntv>), <lng>ja</lng> (<lng-ntv>ja</lng-ntv>), <lng>pl</lng> (<lng-ntv>pl</lng-ntv>), <lng>pt</lng> (<lng-ntv>pt</lng-ntv>), and <lng>zh</lng> (<lng-ntv>zh</lng-ntv>).</li>
      </ul>
{% include apps-found-bug.html %}
{% include apps-license.html %}
{% include apps-more.html %}
      {% include copyright.html %}
