.zph-hltd:hover {
  background-color: #EDF7FF;
}

.zph-ltp {
    background-color: #e0f8e0;
}

.zph-ntp {
    background-color: #ffffd1;
}

.zph-htp {
    background-color: #FCDBA9;
}

.zph-utp {
    background-color: #F5B5BA;
}
