.zph-hltd:hover {
  background-color: #EDF7FF !important;
}

.zph-ltp {
    background-color: #e0f8e0 !important;
}

.zph-ntp {
    background-color: #ffffd1 !important;
}

.zph-htp {
    background-color: #FCDBA9 !important;
}

.zph-utp {
    background-color: #F5B5BA !important;
}
